#articles-edit
  %h1 Editing article
  .panel.panel-default
    .panel-body
      = render 'form'
      = link_to articles_path, class: 'btn btn-info' do
        %span.glyphicon.glyphicon-chevron-left
        Back
