#articles-index
  #articles-table
    th
      a
        text-decoration: none
      .current:after
        font-family: "Glyphicons Halflings"
        margin-left: 5px
        font-size: 10px
      .asc:after
        content: "\e253"
      .desc:after
        content: "\e252"
  #accordion
    width: 350px
    @media (max-width: 1200px)
      width: 283px
  .affix
    top: 10px
#articles-new, #articles-edit
  .checkboxes_group
    height: 200px
    overflow-y: scroll
